Detect Missing Values

In [ ]:
# Python
df.isnull().sum()

In [ ]:
--SQL
SELECT COUNT(*) FROM table WHERE col IS NULL

Drop Missing Values

In [ ]:
# Python
df.dropna()

In [ ]:
--SQL
SELECT * FROM table WHERE col IS NOT NULL

Fill missing Values

In [ ]:
# Python
df.fillna(value)

In [ ]:
--SQL
    SELECT COALESCE(col, value) AS col FROM table

Remove Duplicates

In [ ]:
# Python 
df.drop_duplicates()

In [ ]:
--SQL
SELECT DISTINCT * FROM table

Convert Data types

In [ ]:
# Python 
df['col'] = df['col'].astype(int)

In [ ]:
--SQL
CAST(col AS INT) or CONVERT(INT, col)(DB-specific)

Standardize Case

In [ ]:
# Python
df['col'] = df['col'].str.lower()

In [ ]:
--SQL
LOWER(col) or UPPER(col)

Trim Whitespaces

In [ ]:
# Python
df['col'] = df['col'].str.strip

In [ ]:
--SQL
TRIM(col)

Replace Specific Values

In [ ]:
# Pyhton 
df['col'].replace('old', 'new')

In [ ]:
--SQL
REPLACE(col, 'old', 'new')
-- or use
CASE WHEN -- for complex logic

Filter Outliers

In [ ]:
df[df['col'] < threshold]

In [ ]:
-- SQL 
SELECT * FROM table WHERE col < threshold

Drop Unwanted Columns

In [ ]:
# Python  
df.drop(['col', 'col2'], axis = 1)

In [ ]:
--SQL only select necessary columns
SELECT col3, col4 FROM table

Rename Columns

In [ ]:
# Pyhton 
df.rename(columns = {'old' : 'new'})

In [ ]:
--SQl
ALTER TABLE table RENAME COLUMNS old TO new

Add New Derived Column

In [ ]:
# Python 
df['new_col'] = df['col'] + df['col2']

In [ ]:
--SQL
SELECT col + col2 AS new_col From table

Validate Data Ranges

In [ ]:
# Python 
df[(df['col'] >= min) & (df['col'] <= max)]

In [ ]:
--SQL
SELECT * FROM table WHERE col BETWEEN min AND max

Encode Categories

In [ ]:
#Python
pd.get_summies(df['col'])
.map()

In [ ]:
--SQL
CASE WHEN
JOIN

Correct Typos or Inconsistencies

In [ ]:
# PYthon
df['col'].replace({'yes' :'Yes', 'YES' : 'Yes'})

In [ ]:
--SQL
UPDATE table SET col = 'Yes' WHERE col IN ('yes', 'YES')